<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0"
		/>
		<title>Przyciski</title>
		<link
			href="https://fonts.googleapis.com/css?family=Ubuntu:400,700&display=swap&subset=latin-ext"
			rel="stylesheet"
		/>
		<link
			rel="stylesheet"
			href="./style.css"
		/>
		<script
			src="https://kit.fontawesome.com/fac08909fe.js"
			crossorigin="anonymous"
		></script>
	</head>

	<div class="buttonComponents">
		<h2 class="title">
			Component with buttons <i class="fa-solid fa-toggle-off"></i>
		</h2>
		<button class="movingLines">
			<span class="spanText">moving lines</span>
			<span class="spanEmoticon">🤩</span>
		</button>
		<button class="movingColor">moving color</button>
		<button class="buttonThree">3 button</button>
		<button class="newBorder">new border</button>
		<button class="flash">flash</button>
	</div>
	<script
		type="module"
		src="/src/main.ts"
	></script>
</html>
