<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0"
		/>
		<title>Projekt Menu</title>
		<link
			href="https://fonts.googleapis.com/css?family=Ubuntu:400,700&display=swap&subset=latin-ext"
			rel="stylesheet"
		/>
		<link
			rel="stylesheet"
			href="style.css"
		/>
		<script
			src="https://kit.fontawesome.com/fac08909fe.js"
			crossorigin="anonymous"
		></script>
	</head>
	<body>
		<nav>
			<ul class="menu">
				<li class="menu-item">
					Menu 1
					<ul class="dropdown">
						<li>Opcja 1</li>
						<li>Opcja 2</li>
						<li>Opcja 3</li>
						<li>Opcja 4</li>
						<li>Opcja 5</li>
						<li>Opcja 6</li>
					</ul>
				</li>
				<li class="menu-item second">
					Menu 2
					<ul class="dropdown">
						<li>Opcja 1</li>
						<li>Opcja 2</li>
						<li>Opcja 3</li>
						<li>Opcja 4</li>
						<li>Opcja 5</li>
						<li>Opcja 6</li>
					</ul>
				</li>
				<li class="menu-item third">
					Menu 3
					<ul class="dropdown">
						<li>Opcja 1</li>
						<li>Opcja 2</li>
						<li>Opcja 3</li>
						<li>Opcja 4</li>
						<li>Opcja 5</li>
						<li>Opcja 6</li>
					</ul>
				</li>
				<li class="menu-item fourth">
					Menu 4
					<ul class="dropdown">
						<li>Opcja 1</li>
						<li>Opcja 2</li>
						<li>Opcja 3</li>
						<li>Opcja 4</li>
						<li>Opcja 5</li>
						<li>Opcja 6</li>
					</ul>
				</li>
			</ul>
		</nav>
	</body>
</html>
