<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0"
		/>
		<title>Projekt 2</title>
		<link
			href="https://fonts.googleapis.com/css?family=Ubuntu:400,700&display=swap&subset=latin-ext"
			rel="stylesheet"
		/>
		<link
			rel="stylesheet"
			href="style.css"
		/>
		<script
			src="https://kit.fontawesome.com/fac08909fe.js"
			crossorigin="anonymous"
		></script>
	</head>

	<body>
		<div class="card">
			<div class="img first"></div>
			<div class="text text-first">
				<h3>Szlaki górskiee i lewady Madery</h3>
				<p>
					Szlaki górskie na Maderze oferują niezapomniane wrażenia dla
					miłośników trekkingu, prowadząc przez malownicze krajobrazy wyspy.
					Słynne szlaki, takie jak Levada do Caldeirão Verde, zapewniają
					fascynującą wędrówkę wzdłuż kanałów irygacyjnych, otulonych bujną
					roślinnością. Te unikalne lewady ukazują nie tylko piękno przyrody,
					ale także historię inżynieryjnych osiągnięć, stanowiąc nieodłączną
					część przygody na Madery.
				</p>
			</div>
		</div>
		<div class="card">
			<div class="img second"></div>
			<div class="text text-second">
				<h3>Roślinność Madery</h3>
				<p>
					Madera, portugalska wyspa w archipelagu Maderze, oczarowuje
					różnorodnością roślinności. Gęste lasy laurowe w Parku Narodowym
					Laurissilva ukazują unikalny ekosystem, będący dziedzictwem UNESCO.
					Znajdziemy tu także kolorowe ogrody botaniczne, gdzie subtropikalne
					kwiaty i drzewa tworzą niezapomniane krajobrazy.
				</p>
			</div>
		</div>
		<div class="card">
			<div class="img third"></div>
			<div class="text text-third">
				<h3>Wodospady Madery</h3>
				<p>
					Wodospady Madery stanowią niezwykłe arcydzieło natury, wzbogacając
					malownicze krajobrazy wyspy. Jednym z najbardziej imponujących jest
					Wodospad Risco, osiągający około 100 metrów wysokości, otulony bujną
					roślinnością. Inne popularne wodospady to Wodospad 25 Fontes,
					zachwycający swoją urodą i zakończony naturalnym amfiteatrem skalnym,
					oraz Wodospad Caldeirão Verde, ukryty w dżunglowym otoczeniu, tworzący
					magiczny klimat.
				</p>
			</div>
		</div>
		<div class="card">
			<div class="img fourth"></div>
			<div class="text text-fourth">
				<h3>Las Fanal</h3>
				<p>
					Las Fanal na Maderze to magiczne miejsce otoczone tajemniczym urokiem. Charakteryzuje się gęstym lasem laurowym, a drzewa laurowe osiągające imponujące rozmiary tworzą niepowtarzalny krajobraz. Podczas zachodu słońca, mgła unosząca się między koronami drzew nadaje Lasowi Fanal nieziemski, baśniowy wygląd.
				</p>
			</div>
		</div>
		<script src="index.js"></script>
	</body>
</html>
