<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0"
		/>
		<title>Projekt 2</title>
		<link
			href="https://fonts.googleapis.com/css?family=Ubuntu:400,700&display=swap&subset=latin-ext"
			rel="stylesheet"
		/>
		<link
			rel="stylesheet"
			href="style.css"
		/>
		<script
			src="https://kit.fontawesome.com/fac08909fe.js"
			crossorigin="anonymous"
		></script>
	</head>

	<body>
		<div class="class">
			<div class="img first"></div>
			<div class="text text-first">
				<h3>jakiś tytuł</h3>
				<p>
					Lorem ipsum dolor sit amet consectetur adipisicing elit. Lorem ipsum
					dolor sit amet consectetur adipisicing elit. Lorem ipsum dolor sit
					amet consectetur adipisicing elit.
				</p>
			</div>
		</div>
		<div class="class">
			<div class="img second"></div>
			<div class="text text-second">
				<h3>jakiś tytuł2</h3>
				<p>
					Lorem ipsum dolor sit amet consectetur adipisicing elit. Lorem ipsum
					dolor sit amet consectetur adipisicing elit. Lorem ipsum dolor sit
					amet consectetur adipisicing elit.
				</p>
			</div>
		</div>
		<div class="class">
			<div class="img third"></div>
			<div class="text text-third">
				<h3>jakiś tytuł3</h3>
				<p>
					Lorem ipsum dolor sit amet consectetur adipisicing elit Lorem ipsum
					dolor sit amet consectetur adipisicing elit.Lorem ipsum dolor sit amet
					consectetur adipisicing elit.
				</p>
			</div>
		</div>
	</body>
</html>
