<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0"
		/>
		<title>Moving photo</title>
		<link
			href="https://fonts.googleapis.com/css?family=Comic+Neue&display=swap"
			rel="stylesheet"
		/>
		<link
			rel="stylesheet"
			href="style.css"
		/>
		<script
			src="https://kit.fontawesome.com/fac08909fe.js"
			crossorigin="anonymous"
		></script>
	</head>

	<body>
		<div class="girlCards">
			<div class=" card firstGirl">
				<button><i class="far fa-question-circle"></i></button>
				<div class="text">
					<h1>Dziewczyna</h1>
					<h2>Magda Gadomska</h2>
					<p>
						Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quidem
						quia repellendus aliquid sunt magnam vel voluptate incidunt, amet
						nulla placeat. Hic voluptas dolore aperiam qui delectus dolorum illo
						libero provident.
					</p>
				</div>
			</div>
			<div class=" card secondGirl">
				<button><i class="far fa-question-circle"></i></button>
				<div class="text">
					<h1>Dziewczyna2</h1>
					<h2>To nowa ja</h2>
					<p>
						Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quidem
						quia repellendus aliquid sunt magnam vel voluptate incidunt, amet
						nulla placeat. Hic voluptas dolore aperiam qui delectus dolorum illo
						libero provident.
					</p>
				</div>
			</div>
		</div>
	</body>
</html>
