<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0"
		/>
		<title>Moving photo</title>
		<link
			href="https://fonts.googleapis.com/css?family=Comic+Neue&display=swap"
			rel="stylesheet"
		/>
		<link
			rel="stylesheet"
			href="style.css"
		/>
		<script
			src="https://kit.fontawesome.com/fac08909fe.js"
			crossorigin="anonymous"
		></script>
	</head>

	<body>
		<div class="girlCards">
			<div class="card firstGirl">
				<button><i class="far fa-question-circle"></i></button>
				<div class="text">
					<h1>Poznajcie Magdę</h1>
					<h2>Magdę Gadomską</h2>
					<p>
						Cześć! Poznajcie Magdę, pełnego energii i kreatywności Junior Frontend Developera! Magda nie tylko posiada umiejętności programistyczne, ale również przynosi ze sobą świeże spojrzenie na projektowanie interfejsów.
					</p>
				</div>
			</div>
			<div class="card secondGirl">
				<button><i class="far fa-question-circle"></i></button>
				<div class="text">
					<h1>Ta dziewczyna</h1>
					<h2>Junior Frontend Developer</h2>
					<p>
						Magda nie tylko jest gotowa do nauki i rozwoju, ale także przynosi ze sobą świeże spojrzenie na technologię. Jej zdolności połączone z zapałem do pracy stanowią receptę na sukces w dynamicznym świecie Frontend Developmentu.
					</p>
				</div>
			</div>
			<div class="card thirdGirl">
				<button><i class="far fa-question-circle"></i></button>
				<div class="text">
					<h1>Don't worry!</h1>
					<h2>You can do anything</h2>
					<p>
						Twoje możliwości są nieograniczone, a jedynym limitem jest wyobraźnia. Niech każdy dzień będzie dla ciebie nową szansą do przełamywania własnych barier i zdobywania nowych wysokości. Pamiętaj, że potęga leży w twoich rękach.
					</p>
				</div>
			</div>
		</div>
	</body>
</html>
