* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Comic Neue', cursive;
    background: radial-gradient(circle, rgba(43, 44, 46, 1) 13%, rgba(25, 25, 25, 1) 65%);
}
.girlCards{
    display: flex;
    width: 1000px;
}
.card{
    position: relative;
    margin: 10px;
    height: 800px;
    text-align: center;
    background-position: center;
    background-size: cover;
    border-radius: 15px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .7);
}
.firstGirl{
    background-image: url('photo/fashion.jpg');
}
.secondGirl{
    background-image: url('photo/guitar.jpg');
}
.thirdGirl{
    background-image: url("photo/girl.jpg");
}